[credential]
helper = osxkeychain
helper = store

[fetch]
prune = true
verbose = true

[submodule]
recurse = true

[pull]
rebase = true

[push]
default = simple

[core]
editor = code --wait

[alias]
ci = commit
co = checkout
dc = diff --cached
delete-gone-branches = "!f() { git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -d; }; f"
delete-merged-branches = "!f() { git branch --merged ${1:-master} | grep -v ${1:-master}\\$ | xargs git branch -d; }; f"
fetch = fetch -p
identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"
lg = log --relative-date --graph --oneline --decorate --all
lgb = log --relative-date --graph --oneline --decorate
pf = push origin +HEAD
pr = pull-request -a ydnar
pr-case = pull-request -a ydnar --reviewer case
pr-cw = pull-request -a ydnar --reviewer cee-dub
publish = push origin -u HEAD
r = reset
rb = rebase
st = status --short --branch

[http "https://gopkg.in"]
followRedirects = true

[diff]
noprefix = true

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[include]
path = ~/.gitidentities
